.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
    padding: 1rem;

}

.search-bar{
    display: flex;
    align-items: center;
    background: var(--input-bg);
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    border: 1px solid var(--glass-border);
    width: 300px;
    gap: 0.5rem;
    flex: 1;
    color: var(--text-color);

}

.search-bar input{
    border: none;
    background: transparent;
    outline: none;
    color: var(--text-color);
    margin-left: 0.5rem;
    width: 100px;
}

.create-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 10px;
  background: var(--primary);
  color: white;
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
}

 .create-btn span {
    display: none;
  }


@media (max-width: 380px) {
  .header {
    flex-wrap: wrap;
  }

  .search-bar {
    flex-basis: 100%;
  }

  .create-btn {
    width: 100%;
    justify-content: center;
    padding: 0.6rem;
  }

  .create-btn span {
    display: inline;  
  }
}